body {
    margin: 0;
}

#header {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

#status-section {
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
}