:root {
    --bungee-fam: 'Bungee', cursive;
    --gugi-fam: 'Gugi', cursive;
    --roboto-fam: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

#header {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    gap: 15px;
    padding: 25px;
}

#header-headings {
    font-family: var(--bungee-fam);
    font-size: 50px;
    text-transform: uppercase;
}

#header-para {
    font-family: var(--gugi-fam);
    font-size: 35px;
    text-transform: capitalize;
}

#header-headings,
#header-para {
    margin: 0;
}

#status-section {
    display: flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.profile-status {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: var(--gugi-fam);
    font-size: 30px;
    padding: 10px;
}

.profile-picture {
    max-width: 150px;
}

.profile-name {
    margin: 10px 0 10px 0;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#player-score,
#computer-score {
    margin: 0 0 10px 0;
}

#versus-status {
    font-family: var(--bungee-fam);
    font-size: 50px;
    text-transform: uppercase;
    margin: 0;
}

#round-tracker {
    font-family: var(--gugi-fam);
    font-size: 35px;
    text-transform: uppercase;
    margin: 20px 0px;
}

#round-tracker::before {
    content: "ROUND: ";
}

#selection-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 35px;
}

.selection-btn {
    font-size: 80px;
    padding: 20px;
}

#rock-icon,
#paper-icon {
    transform: rotate(90deg);
}

#scissors-icon {
    transform: rotate(180deg) scaleY(-1);
}

#response-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#computer-response {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}