:root {
    --bungee-fam: 'Bungee', cursive;
    --gugi-fam: 'Gugi', cursive;
    --roboto-fam: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

#header {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

#header-headings {
    font-family: var(--bungee-fam);
    font-size: 50px;
    text-transform: uppercase;
}

#status-section {
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
}

#selection-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#response-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}